<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>httpServlet</servlet-name>
        <servlet-class>com.cy.mincat.service.servlet.MyServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>httpServlet</servlet-name>
        <url-pattern>/httpServlet</url-pattern>
    </servlet-mapping>
</web-app>